* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 5;
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

nav a{
    color: blue;
    text-decoration: none;
    font-size: 20px;
}

nav li{
    list-style-type: none;
    margin: 20px;
}

.section1, .section2, .section3, .section4{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section1{
    background-image: url(images/Red-Bull-Logo-Desktop-Wallpaper.jpeg)
}

.section2{
    background-image: url(images/red-bull-racing-rb18-1.jpeg);
    background-attachment: fixed;
}

.section4{
    background-image: url(images/racefansdotnet-21-07-04-15-27-28-6.jpeg);
    background-attachment: fixed;
}

.header{
    color: white;
    position: relative;
    top: 100px;
    left: 10%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.568);
    width: 40%;
    padding: 20px 0 20px 0;
    font-size: 24px;
    border: 2px solid orange;
    border-radius: 5px;
}

.intro{
    color: orange;
    background-color: rgba(0, 0, 0, 0.568);
    width: 40%;
    text-align: center;
    font-size: 25px;
    position: relative;
    top: 550px;
    left: 30%;
    border: 2px solid orange;
    padding: 20px 0 20px 0;
    border-radius: 5px;
}

.paragraph{
    font-size: 22px;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
}

#p1{
    color: white;
    position: relative;
    top: 100px;
    left: 5%;
}

#p2{
    color: white;
    background-color: rgba(84, 91, 98, 0.801);
    border: 2px solid white;
    position: relative;
    top: 300px;
    left: 60%;
    padding: 20px;
}
.section3{
    background-image: url(images/sergio-perez-red-bull-racing-a.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section3 h1 {
    text-align: center;
    color: white;
}

.section3 p {
    margin: 20px;
    font-size: 20px;
    color: black;
}

.section3 input{
    height: 30px;
    border-color: transparent;
    color: blue;
}

.section3 input::placeholder {
    text-align: center;
    color:rgba(84, 91, 98, 0.801);
    font-style: italic;
}

#button{
    color: white;
    background-color: red;
    font-size: 18px;
    padding: 10px;
    border: transparent;

}













@media only screen and (max-width:700px) {
    .header{
        width: 80%;
    }

    #p1{
        width: 80%;
        background-color: white;
        border: 2px solid rgba(84, 91, 98, 0.801);
    }

    #p2{
        width: 80%;
        left: 10%;
    }
}